.block-editor-quote :focus-visible {
  outline: none;
}

.block-editor-quote blockquote > div {
  margin-bottom: 1em;
}

html {
  &[lang='de'] {
    .block.quote blockquote:not(.isEmpty) {
      p {
        &::before {
          content: '„';
        }

        &::after {
          content: '“';
        }
      }
    }
  }

  &[lang='en'] {
    .block.quote blockquote:not(.isEmpty) {
      p {
        &::before {
          content: '"';
        }

        &::after {
          content: '"';
        }
      }
    }
  }
}
