.block-editor-quote :focus-visible {
  outline: none;
}

.block-editor-quote blockquote div {
  margin: 0em 0em 1em;
}

.block.quote blockquote:not(.block-editor-quote blockquote) {
  &[siteLang='en'] p {
    &::before {
      content: '"';
    }

    &::after {
      content: '"';
    }
  }

  &[siteLang='de'] p {
    &::before {
      content: '„';
    }

    &::after {
      content: '“';
    }
  }
}
